<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bpzj.task1.dao.StudentMapper">
    <select id="listAll" resultType="com.bpzj.task1.bean.Student">
        --         SELECT id,create_at createAt,update_at updateAt,name,qq,type,entry_time entryTime,
        --         school,student_id studentId, link, oath,brother,knowfrom FROM student
        SELECT * FROM student
    </select>

    <select id="listGroup" resultType="com.bpzj.task1.bean.Student">
        SELECT * FROM student LIMIT #{start},#{count}
    </select>

    <insert id="insert" parameterType="com.bpzj.task1.bean.Student"
    useGeneratedKeys="true" keyProperty="id">
        INSERT INTO student
        VALUES(#{id},NOW(),NOW(),#{name},#{qq},#{type},#{entryTime},#{school},
        #{studentId},#{link},#{oath},#{brother},#{knowFrom})
    </insert>

    <update id="updateById">
        UPDATE student SET update_at=NOW(), name=#{name}, oath=#{oath} WHERE id=#{id}
    </update>

    <delete id="deleteById">
        DELETE FROM student WHERE id=#{id}
    </delete>

    <select id="getByName" resultType="com.bpzj.task1.bean.Student">
        SELECT * FROM student WHERE name=#{name}
    </select>

    <select id="getById" resultType="com.bpzj.task1.bean.Student">
        SELECT * FROM student WHERE id=#{id}
    </select>

</mapper>